@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-primary: 'Praise';
    --font-secondary: 'Libre Baskerville';

    --color-primary: #284139; /*warna utama untuk navbar dan button*/
    --color-secondary: #809076; /*warna pendukung untuk teks subjudul dan icon-icon lainnya*/
    --color-accent: #F8D794; /*warna untuk highlight, tombol, dan elemen penting lainnya*/
    --color-warning: #BB6B30; /*warna untuk peringatan*/
    --color-dark: #111A19; /*warna untuk teks gelap*/
}